<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title panel-title">Contacts</h2>
      </div>
      <div class="col-xs-12">
        <a class="btn btn-success pull-right">New Contact</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12" *ngFor="let contact of contacts">
        <cms-contact-item [contact]="contact" (click)="onSelected(contact)"></cms-contact-item>
      </div>
    </div>
  </div>
</div>
